.about {
  padding: 3rem 1vw;
}
.about-content {
  gap: 3rem;
}
.about-title {
  margin: 1rem 0;
}
.about-img img {
  max-width: 90%;
}
.about-text p {
  margin: 1.8rem 0;
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  .about-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-title {
    margin-top: 0;
  }
  .about-img img {
    margin-left: 0;
  }
}
/* 
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
  background-color: rebeccapurple;
  opacity: 95%;
}

.formContent {
  margin: 2%;
  padding: 2%;
  border-radius: 2%;
  background-color: aliceblue;
  box-shadow: 2px 4px 4px 2px rgba(2, 1, 1, 0.349);
}

.form-btn {
  margin-top: 9%;
  color: aliceblue;
  font-weight: 500;
  background-color: rebeccapurple;
  box-shadow: 0px 2px 1px 0px rgba(2, 1, 1, 0.349);
}
.fromField {
  font-weight: 500;
  margin-bottom: 1px;
  padding: 1px;
} */
